html,body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(228, 195, 203, 0.4);
}

.text {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: #FDF7F7;
  font-family: "Cookie", cursive;
  font-size: 160px;
  font-weight: bold;
  text-align: center;
  text-shadow:
  0 0 5px #e2b1b0,
  0 0 10px #e2b1b0,
  0 0 15px #e2b1b0,
  0 0 20px #e2b1b0,
  0 0 30px #e2b1b0,
  0 0 40px #e2b1b0,
  0 0 50px #e2b1b0,
  0 0 75px #e2b1b0;
}

.arrow-wrapper {
  position: absolute;
  top: 0; 
  height: 100%;
  opacity: 0;
  transition: 500ms ease-in;
  padding: 10px;
  width: 100px;
}

.arrow-wrapper-right { 
  right: 0
}

.arrow-wrapper-left { 
  z-index: 1;
  left: 0
}

.arrow-wrapper:hover {
  opacity: 1;
  transition: 500ms ease-in;
}

.arrow-wrapper:click {
  transition: 500ms ease-in;
}

.arrow-buttons {
  height: 100px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: .80;
}

.arrow-buttons-right {
  right: 20px;
}

.arrow-buttons-left {
  left: 20px;
}

.cupcake {
  position: absolute;
  top: 34%;
  left: 25%;
  width: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: normal;
  color: #FAF6F3;
  font-size: 60px;
  font-family: 'Soopafresh', sans-serif;
  text-shadow:
  0 0 5px #AA8071,
  0 0 10px #AA8071,
  0 0 15px #AA8071,
  0 0 20px #AA8071,
  0 0 30px #AA8071,
  0 0 40px #AA8071,
  0 0 50px #AA8071,
  0 0 75px #AA8071;
}

.cupcake-product {
  position: absolute;
  top: 60%;
  left: 25%;
  width: 40%;
  transform: translate(-50%, -50%);
  color: #FDF7F7;
  font-size: 35px;
  text-align: left;
  background-color: rgba(198, 144, 143, 0.7);
  border-radius: 30px;
}

.cupcake-price {
  position: absolute;
  top: 60%;
  left: 22%;
  width: 40%;
  transform: translate(-50%, -50%);
  color: #FDF7F7;
  font-size: 35px;
  text-align: right;
}

.macaron {
  position: absolute;
  top: 34%;
  left: 74%;
  width: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: normal;
  color: #FAF6F3;
  font-size: 60px;
  font-family: 'Soopafresh', sans-serif;
  text-shadow:
  0 0 5px #AA8071,
  0 0 10px #AA8071,
  0 0 15px #AA8071,
  0 0 20px #AA8071,
  0 0 30px #AA8071,
  0 0 40px #AA8071,
  0 0 50px #AA8071,
  0 0 75px #AA8071;
}

.macaron-product {
  position: absolute;
  top: 60%;
  left: 74%;
  width: 40%;
  transform: translate(-50%, -50%);
  color: #FDF7F7;
  font-size: 35px;
  text-align: left;
  background-color: rgba(198, 144, 143, 0.7);
  border-radius: 30px;
}

.macaron-price {
  position: absolute;
  top: 60%;
  left: 72%;
  width: 40%;
  transform: translate(-50%, -50%);
  color: #FDF7F7;
  font-size: 35px;
  text-align: right;
}